
body{
  background-color: #DDDDDD;
  margin-right: 25%;
  margin-left: 25%;
  font-family: 'Cantarell', sans-serif;
  text-align: justify;
  font-size: 17px;
  color: #303030;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

a{
  text-decoration: none;
}

table{
  width: 100%
}
td{
  border: 1px solid black;
  width: 200px;
  text-align: center;
}

.image{
  background-size: cover;
  width: 100%;
  height: 350px;
}

.image img{
  display: none;
}

.imageTab{
  width: 200px;
}

div.polaroid {
  margin-bottom: 20px;
  margin-left: 10%;
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container {
    text-align: center;
    font-style: italic;
    padding: 10px 20px;
}
